{
  "parser": "babel-eslint",
  "rules": {
    "max-len": "off",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off"
  },
  "globals": {
    "window": true,
    "document": true
  }
}